<div class="header">
  <nav class="navbar">
      <div class="left-section"> 
        <a href="/home"> <div>
          <img class="logo-icon" src="/icons/wolf.PNG" width="70px" >
          <img class="logo-name" src="/icons/wolf1.png">
        </div>
        </a>
      </div>
<% if(!user){ %>
      <ul class="navbar-nav" >
         
          <div class="nav-item">
              <a href="/login" class="nav-link">Login</a>
            </div>
          <div class="nav-item">
              <a href="/register" class="nav-link">Register</a>
          </div>
          <%} else { %>
            <div class="nav-item" >
              <a href="/register" class="nav-link">Register</a>
            </div>
            <div class="nav-item" style="font-size: 18px; font-weight: 600;">
              <a style="color: rgb(90, 71, 71);" ><%= user.username %></a>
            </div>
        
        
      </ul>
          <% } %>
    
  </nav>
  
</div>


<div class="sidebar">

      <ul class="sidebar-nav" >
       
          <li class="active" >
            <a href="/home"> <div class="icon-name" > 
                   <img class="sidebar-icons"  src="/icons/icons8-home-48.png"> 
                      <div class="sidebar-text">HOME </div>
                  
              </div>
            </a>
          </li>
          <li class="active">
            <a href="/content/videos">
            <div class="icon-name" > 
                  <img class="sidebar-icons"  src="/icons/video.png"> <div class="sidebar-text">VIDEOS</div>
                  
              </div>
            </a>
          </li>
          <li class="active" >
            <a href="/content/notes">
            <div class="icon-name" > 
                       <img class="sidebar-icons" style="margin-top: 5px;"  src="/icons/icons8-document-30.png"> <div class="sidebar-text" style="font-size: 12px;">COURSE MATERIAL</div>
                     
                  </div>
                </a> 
          </li>
          
          <li class="active" id="toggleButton" style="display: none;">
            <div class="icon-name" style="color: black; cursor: pointer;"> 
                       <img class="sidebar-icons"  src="/icons/bell.png"> <div class="sidebar-text">NOTICES</div>
                     
                  </div>
                </a> 
          </li>
          
          <li class="active" >
            <a href="/dashboard">
              <div class="icon-name">
                <% if (user && user.username) { %>
                  <!-- If user exists, show the first letter of the username -->
                  <div class="user-initial"><%= user.username.charAt(0).toUpperCase() %></div>
                <% } else { %>
                  <!-- If user doesn't exist, show a default image or placeholder -->
                  <div><img src="/icons/profile.png" alt="User Image" style="width: 30px; height: 30px; border-radius: 50%;" /></div>
                <% } %> 
              <div class="sidebar-text" style="font-size: 12px;">DASHBOARD</div>
                     
                  </div>
                </a> 
          </li>
      </ul>

 
</div>
<script>
  if (window.location.pathname !== "/dashboard") {
    document.getElementById("toggleButton").style.display = "block";
  }
</script>
