
        
  <div class="notes-topics div-topics cursive" ><a href="/content/notes/Java">
                 <div class="topic"> JAVA</div>
                 <div class="sub-intro"> 
                  <div style="font-weight: bold; " class="cursive hidden">Introduction to Java</div>
              
<div class="cursive font-family" >
Java is a popular high-level programming language developed by Sun Microsystems in 1995. It is platform-independent, object-oriented, and widely used for building applications.<br>
<div class="flex-info-icon">
<div  class="cursive" >Java follows the principle of “write once, run anywhere,” meaning code written in Java can run on any device with a Java Virtual Machine (JVM). It is known for its simplicity, security, and strong memory management. Java is used to develop web applications, mobile apps (especially Android), enterprise software, games, and more. Its rich API, strong community support, and robust development tools make it a preferred choice for developers worldwide.</div> 
<div style="display: flex; justify-content: end; align-items: end;padding-top: 30px;">
<img src="/icons/icons8-java-48.png" width="50" height="50" />
</div>
</div>   
</div>


</div>
</a>  </div>
   <div class="notes-topics div-topics cursive"><a href="/content/notes/Python">
      <div class="topic"> Python</div>
      <div class="sub-intro"> 
       <div  style="font-weight: bold; " class="cursive hidden">Introduction to Python</div>
   
<div class="cursive font-family">
Python is a high-level, interpreted programming language created by Guido van Rossum and released in 1991. It is known for its simple syntax and readability.<br>
<div class="flex-info-icon">
<div  class="cursive"  >Python supports multiple programming paradigms, including procedural, object-oriented, and functional programming. It is widely used in web development, data science, automation, machine learning, and artificial intelligence. Python has a large standard library and an active community that contributes to thousands of third-party packages. Its ease of learning and versatility make it a favorite among beginners and professionals alike.</div> 
<div style="display: flex; justify-content: end; align-items: end;  padding-top: 48px;">
<img src="/icons/icons8-python-48.png" width="50" height="50" />
</div>
</div>   
</div>


</div>
</a>   </div>
  <div class="notes-topics div-topics cursive"><a href="/content/notes/MongoDB">
      <div class="topic">MongoDB</div>
      <div class="sub-intro"> 
       <div  style="font-weight: bold; " class="cursive hidden">Introduction to MongoDB</div>
   
<div class="cursive font-family">
MongoDB is a popular NoSQL database developed by MongoDB Inc. It stores data in a flexible, JSON-like format called BSON instead of traditional tables.<br>
<div class="flex-info-icon">

<div  class="cursive"  >MongoDB is designed for scalability, high performance, and ease of development. It handles unstructured and semi-structured data efficiently, making it ideal for modern applications like real-time analytics, IoT, and content management systems. Its dynamic schema allows developers to make changes quickly without affecting the entire database structure. MongoDB also supports powerful querying, indexing, and data replication features, making it a strong choice for handling large volumes of diverse data.

</div> 
<div style="display: flex; justify-content: end; align-items: end;padding-top: 30px;">
<img src="/icons/icons8-mongodb-48.png" width="50" height="50" />
</div>
</div>

</div>   



</div>
</a></div>
